<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sample</title>
</head>
<body>
<h1 th:inline="text">Insert Member</h1>
<form id="iform" th:action="@{/member/insert}" th:method="post" th:object="${member}">
    <label>id</label>
    <input type="text" th:field="*{id}"/>
    <label>编号</label>
    <input type="text" th:field="*{no}"/>
    <label>姓名</label>
    <input type="text" th:field="*{name}"/>
    <input th:label="提交" type="submit"/>
</form>
</body>
</html>